<%- include('header'); -%>

    <h1>This is an about page</h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, ut, perspiciatis est error facere iste culpa
        corrupti
        quod distinctio dolores soluta ullam. Rem omnis repellat dignissimos vero deserunt facere quam.</p>

    <%- include('footer'); -%>