body {
  background-color: #eeeeee;
}
hr {
  border-style: none;
  border-top: dotted 6px #0d7377;
  width: 10%;
}
h1 {
  color: #212121;
}
h3 {
  color: #0d7377;
}

/* Class Selectors */
.hello {
  background-color: red;
}

/* ID Selectors */
#world {
  background-color: blue;
}
