/* my sizes */
:root {
  --corners: 16px;
}

body {
  background-color: #edf2f8;
  font-size: 13px;
}

h1,
h2,
h3 {
  font-family: "Manrope", sans-serif;
  font-size: 1.2rem;
  margin: 0px;
  padding: 0px;
}

/* our main centered box with rounded corners */
.article {
  /* this handles the image not having square corners */
  overflow: hidden;
  margin: 260px auto;
  width: 720px;
  height: 280px;
  background-color: white;
  border-radius: var(--corners);
  box-shadow: 0px 12px 24px 0px rgba(0, 0, 0, 0.1);
  padding: 0px;
}

.article-image {
  /* left: 0px;
  position: absolute;
  left: 0; */
  background-color: green;
  display: inline-block;
  height: 100%;
  width: 280px;
  overflow: hidden;
}

.article-image img {
  height: 280px;
}

.article-text {
  margin: 0px;
  background-color: red;
  float: right;
  height: 280px;
  width: 436px;
}
