/* rounded corner size */
:root {
  --corners: 16px;
}

body {
  background-color: #edf2f8;
  font-size: 13px;
  font-family: "Manrope", sans-serif;
}

h1 {
  font-size: 1.3rem;
  margin: 0px;
  padding: 0px;
  color: hsl(217, 19%, 35%);
}

/* our main centered box with rounded corners */
.article {
  /* this handles the image not having square corners */
  overflow: hidden;
  margin: 260px auto;
  width: 720px;
  height: 280px;
  background-color: white;
  border-radius: var(--corners);
  box-shadow: 0px 12px 24px 0px rgba(0, 0, 0, 0.1);
  padding: 0px;
  position: relative;
}

.article-image {
  left: 0px;
  position: absolute;
  width: 280px;
  overflow: hidden;
}

.article-image img {
  height: 280px;
}

.article-text {
  /* background-color: red; */
  padding: 40px;
  margin-left: 274px;
}

.article-text p {
  color: hsl(212, 23%, 69%);
}
