/* rounded corner size */
:root {
  --corners: 16px;
  --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
  --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
  --Grayish-Blue: hsl(212, 23%, 69%);
  --Light-Grayish-Blue: hsl(210, 46%, 95%);
}

body {
  background-color: #edf2f8;
  font-size: 13px;
  font-family: "Manrope", sans-serif;
  color: var(--Very-Dark-Grayish-Blue);
}

/* our main centered box with rounded corners */
.article {
  /* this handles the image not having square corners */
  overflow: hidden;
  margin: 260px auto;
  width: 720px;
  height: 280px;
  background-color: white;
  border-radius: var(--corners);
  box-shadow: 0px 12px 24px 0px rgba(0, 0, 0, 0.1);
  padding: 0px;
  position: relative;
}

.article h1 {
  font-size: 1.3rem;
  margin: 0px;
  padding: 0px;
  /* color: hsl(217, 19%, 35%); */
  color: var(--Very-Dark-Grayish-Blue);
}

.article-image {
  left: 0px;
  position: absolute;
  width: 280px;
  overflow: hidden;
}

.article-image img {
  height: 280px;
}

.article-text {
  /* background-color: red; */
  padding: 40px;
  margin-left: 274px;
}
.article-text p {
  color: hsl(212, 23%, 69%);
}

.article-author {
  /* background-color: cornflowerblue; */
  padding-top: 0.5em;
}

.article-author-name {
  font-weight: 700;
  color: var(--Very-Dark-Grayish-Blue);
}
.article-author-date {
  font-weight: 500;
  color: hsl(212, 23%, 69%);
  padding-top: 0.5em;
}

/* rounded portrait with some space on the right for author details */
.article-author img {
  border-radius: 100%;
  height: 40px;
  float: left;
  margin-right: 16px;
}

/* the little share graphic */
.article-share {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: var(--Light-Grayish-Blue);
  text-align: center;
  position: absolute;
  bottom: 40px;
  right: 40px;
}

.article-share img {
  width: 16px;
  height: 16px;
  position: relative;
  top: 6px;
  color: red;
}

.article-share:hover {
  background-color: var(--Grayish-Blue);
}
