/* * {
  border: 1px solid green;
} */
body {
  /* font-family: "Ubuntu", sans-serif; */
  font-family: "Montserrat", sans-serif;
}
h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 1.5;
  margin-bottom: 50px;
  margin-left: 0;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
}

#title {
  background-color: #ff4c68;
  color: #ffffff;
}

/* navigation bar */
.navbar {
  padding: 0 0 4.5em;
}

.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 2rem;
  font-weight: bold;
}

.nav-item {
  padding: 0px 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
}

/* Buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* title image */
.title-image {
  width: 60%;
  transform: rotate(25deg);
}

.container-fluid {
  padding: 3% 15%;
}

/* Features */
.feature-icon {
  /* font-size: 3rem; */
  color: #ef8172;
  margin-bottom: 1rem;
}
.feature-icon:hover {
  color: #ff4c68;
}

.single-feature {
  padding: 20px;
}

#features {
  padding: 7% 15%;
  text-align: center;
}
#features p {
  color: #8f8f8f;
}
